@import "tailwindcss";
#root {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.signin{
  background-color: rgb(93, 93, 255);
}
.signin:hover{
  background-color: rgb(0, 0, 172);
}

.bookTitle,.bookDescription,.bookAuthor{
  border: 1px solid lightgray;
  padding: 5px;
  outline: none;

}

.BookImage{
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
 
}
.imageUpload{
  text-align-last: center;
}

@media (max-width: 450px) {
  .title{
    font-size: 1rem;
  }
  .welcome{
    font-size: 0.5rem;
    position: absolute;
    left:20px;
    top: 35px;
  }
  .logout{
    font-size: 0.7rem;
    padding: 0.3rem 0.8rem;
  }
  .bookspan{
    font-size: 0.8rem;
  }
}



